<html>
  <head>
    <link href='./template.css' rel='stylesheet' />
  </head>
  <body>
    <article>
      <a href="http://sgis.site/Blog.html">返回列表</a>
      <br/><br/>
      <h1> WebGIS 框架 </h1>
      <a href="http://sgis.site">张景源</a><br/> 
      <span id="date">2021年5月28日</span> 访问量 <span id="count" class="count"></span>
      <hr/>
      <!-- begin -->
      <h3 id="1-leaflet">1. Leaflet</h3>
      <p><a href="https://leafletjs.com/">Leaflet</a> 是最著名的前端地图可视化库，它开源、体积小、结构清晰、简单易用。</p>
      <h3 id="2-mapbox-gl-js">2. Mapbox GL JS</h3>
      <p><a href="http://www.mapbox.cn/mapbox-gl-js/overview/">Mapbox GL JS</a> 是目前最新潮的前端地图库，它的矢量压缩、动态样式和三维性能令人印象深刻。它本身是开源的，但一般依赖于Mapbox公司提供的底图服务。</p>
      <h3 id="3-arcgis-api-for-js">3. ArcGIS API for JS</h3>
      <p><a href="https://developers.arcgis.com/javascript/">ArcGIS API for JS</a> 是较为学院派的前端地图库，它是ArcGIS开发套件中的一部分，和桌面端和服务器端ArcGIS软件有较好的协作。它不开源且收费不低，在学术场景下较为常用。</p>
      <h3 id="4-openlayers">4. Openlayers</h3>
      <p><a href="https://openlayers.org/">Openlayers</a> 也是常用的前端地图库，它开源，相比于Leaflet更加复杂和完备。</p>
      <h3 id="5-cesium">5. Cesium</h3>
      <p><a href="https://www.cesium.com/">Cesium</a> 是三维地理可视化的常用库，在大尺度的可视化（地形、建筑、地球）中十分常用。</p>
      <h3 id="6-百度地图-js-api-百度地图-api-gl">6. 百度地图 JS API /百度地图 API GL</h3>
      <p><a href="http://lbsyun.baidu.com/index.php?title=jspopular3.0">百度地图 JS API</a> 是传统的二维地图，<a href="http://lbsyun.baidu.com/index.php?title=jspopularGL">百度地图 API GL</a> 是三维地图，它们依赖百度地图提供的后台服务。除了地图服务外还有检索、导航、实时交通等关联服务。开发者有免费的限额。</p>
      <h3 id="7-高德地图-js-api">7. 高德地图 JS API</h3>
      <p><a href="https://lbs.amap.com/api/javascript-api/summary">高德地图 JS API</a> 与百度类似。</p>
      <h3 id="8-google-maps-js-api">8. Google Maps JS API</h3>
      <p><a href="https://developers.google.com/maps/documentation/javascript/overview">谷歌地图 JS API</a> 在境外有更好的数据。</p>
      <h3 id="9-antv-l7">9. AntV L7</h3>
      <p><a href="https://antv.vision/zh">AntV L7</a> 是空间数据可视化库，它可以使用高德地图等协作构建地图可视化。</p>
      <h3 id="10-mapboxjs">10. Mapbox.js</h3>
      <p><a href="https://docs.mapbox.com/mapbox.js/api/v3.3.1/">Mapbox.js</a> 是 Leaflet 的一个扩展插件（与 Mapbox GL JS 不同）。</p>
      <!-- end -->
      <br/><hr/>
      <h3>评论区</h3>
      <div id="comment">
        <!-- ... -->
      </div>
      <div>
        <h4>新评论</h4>
        你的名字*<input id="name" type="text"></input>
        你的URL（可选）<input id="url" type="text"></input>
        <br/>
        你的评论*<textarea id="content"></textarea>
        <button onclick="addComments()">提交</button>
      </div>
    </article>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="./template.js"></script>
    <script type="text/javascript">
      index = 1
      getCount()
      getComments()
    </script>
  </body>
</html>
