<html>
  <head>
    <link href='http://sgis.site/BlogSources/template.css' rel='stylesheet' />
  </head>
  <body>
    <article>
      <a href="http://sgis.site/Blog.html">返回列表</a>
      <br/><br/>
      <h1>Test</h1>
      <a href="http://sgis.site">张景源</a><br/> 
      <span id="date">2021年6月1日</span> 访问量 <span id="count" class="count"></span>
      <hr/>
      <!-- begin -->
      <p>Google Map 的 API文档：<a href="https://developers.google.com/maps/documentation/places/web-service/search#PlaceSearchRequests">https://developers.google.com/maps/documentation/places/web-service/search#PlaceSearchRequests</a></p>
<p>这里使用的其中的 Place Search Requests 接口。需要先注册谷歌地图的开发者平台获取 key。</p>
<p>原理上是按照一定的格点来请求周围的POI。每次请求会返回大约十几个POI点信息，类似于一种采样，如果在POI比较密集的地区，格网比较大会漏过许多POI。</p>
<p>下面这段代码爬取的是曼谷城区的部分POI</p>
<pre><code class="language-python"># 从谷歌API获取POI
import urllib.request 
from urllib.parse import quote 
import string
import json
import codecs
import numpy

# 参数
lonRange = [100.30, 100.60]  # the range of longitude 经度的范围 
latRange = [13.50, 14]  # the range of latitude 纬度的范围  
lonDivision = 0.005 # 分块查询，每格约0.4km
latDivision = 0.005 # 分块查询，每格约0.4km
radius = 500 # 查询参数 半径 500m
TIMEOUT = 30
outfile = &quot;output.csv&quot;

#   Google Key
googleKey = &quot;在这里填你自己的key&quot;

#restaurant_j = json_format(res_test)
print(&#39;开始爬取&#39;)
print(&#39;共有&#39;+str(((lonRange[1]-lonRange[0])/lonDivision+1)*((latRange[1]-latRange[0])/latDivision+1))+&#39;次请求&#39;)
count = 0
countLine = 0

place_id_list = []
csvFile=codecs.open(outfile,&#39;a&#39;,&#39;utf-8&#39;)
csvFile.write(&#39;lat,lon,types\n&#39;)

for lon in numpy.arange(lonRange[0], lonRange[1], lonDivision):
print(&#39;已进行&#39;+str(count)+&#39;次请求，得到&#39;+str(countLine)+&#39;条有效信息&#39;)
for lat in numpy.arange(latRange[0], latRange[1], latDivision):
  print(&#39;已进行&#39;+str(count)+&#39;次请求，得到&#39;+str(countLine)+&#39;条有效信息&#39;)
  #   发请求
  latlon = str(lat)+&#39;,&#39;+str(lon)
  basic_url = &#39;https://maps.googleapis.com/maps/api/place/nearbysearch/json?key={0}&amp;location={1}&amp;radius={2}&#39;  
  url = basic_url.format(googleKey,latlon,radius)
  url = quote(url, safe = string.printable)
  req = urllib.request.urlopen(url,timeout=TIMEOUT)
  response = req.read().decode(&#39;utf-8&#39;)
  responseJSON = json.loads(response)
  for item in responseJSON[&#39;results&#39;]:
      #对每个POI
      place_id = item[&#39;place_id&#39;]
      types = item[&#39;types&#39;]
      #如果id不在已有的list里
      if not place_id in place_id_list:
          #如果类型中有point_of_interest
          if &quot;point_of_interest&quot; in types:
              place_id_list.append(place_id)
              line = str(item[&#39;geometry&#39;][&#39;location&#39;][&#39;lat&#39;]) + &#39;,&#39; + str(item[&#39;geometry&#39;][&#39;location&#39;][&#39;lng&#39;])
              for type in types:
                  line = line + &#39;,&#39; + str(type)
              csvFile.write(line + &#39;\n&#39;)
              countLine = countLine + 1
  count = count + 1
csvFile.close()
print(&#39;结束&#39;)
</code></pre>
<p>爬取结果使用 ArcGIS Pro 可视化如下：</p>
<p><img src="https://img-blog.csdnimg.cn/20210308190735185.bmp?x-oss-process=image/watermark,type_ZmFuZ3poZW5naGVpdGk,shadow_10,text_aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L25qdV96ank=,size_16,color_FFFFFF,t_70#pic_center" alt="POI可视化"></p>

      <!-- end -->
      <br/><hr/>
      <h3>评论区</h3>
      <div id="comment">
        <!-- ... -->
      </div>
      <div>
        <h4>新评论</h4>
        你的名字*<input id="name" type="text"></input>
        你的URL（可选）<input id="url" type="text"></input>
        <br/>
        你的评论*<textarea id="content"></textarea>
        <button onclick="addComments()">提交</button>
      </div>
    </article>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="http://sgis.site/BlogSources/template.js"></script>
    <script type="text/javascript">
      index = 1
      getCount()
      getComments()
    </script>
  </body>
</html>
