.mapCover{
  position: absolute;
  margin-top: 5vh;
  height: 50vh;
  overflow-y: scroll;
  font-weight: 600;
  width:45vh;
  right: 5vh;
  z-index: 1;
  font-size:3vh;
  color:#854d88;
  background-color: rgba(200,200,200,0.8);
  line-height: 150%;
  padding: 5px;
  .content{
    color:#854d88;
    padding-top: 5vh;
    padding-bottom: 5vh;
    height: auto;
    .title{
      font-size: 4vh;
    }
    .item{
      color:#854d88;
      cursor: pointer;
      padding: 1vh;
      text-decoration:underline;
      font-size:2vh;
      line-height: 150%;
    }
    .item:hover{
      color: #fff;
      background-color: #854d88;
    }
  }
}

.mapContainer{
  height: 60vh;
  width:100%;
  position: absolute;
}