.background{
  position: absolute;
  background-color: #768f91;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.ruler{
  position: absolute;
  width: 21cm;
  height: 4cm;
  background-color: rgb(240, 237, 227);
  left: 50vw;
  top: 30vh;
  border-radius: 0.2cm;
  box-shadow: 2mm 2mm 2mm 1mm rgba(0, 0, 0, 0.2);
}
.title{
  position: absolute;
  height: 10vh;
  left: 50vw;
  top: 10vh;
  width: 20cm;
  font-family: SimSun;
  font-size: 10vh;
  color: aliceblue;
}
.subtitle{
  font-size: 4vh;
  margin-left: 1cm;
}
.markerContainer{
  position: absolute;
  width: 22cm;
  height: 1cm;
  top: 0.05cm;
  left: 0.2cm;
}
.blockCM{
  width: 0.95cm;
  float: left;
  border-left: black solid 0.05cm;
  height: 1cm;
}
.blockMM{
  width: 0.077cm;
  float: left;
  border-right: black solid 0.02cm;
  height: 0.3cm;
}
.markerCM{
  position: absolute;
  top: 0.5cm;
  font-size: 0.4cm;
}